.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: @main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: @base-white;
  background-color: @base-primary;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: @primary-lighter;
  }

  &:active {
    background-color: @primary-darker;
  }

  &--disabled,
  &[disabled] {
    background-color: @base-grey;

    &:hover,
    &:focus,
    &:active {
      background-color: @base-grey;
    }
  }

  &--reverse {
    font-size: 16px;
    color: @base-primary;
    background-color: @base-white;
  }

  &--card {
    line-height: 20px;
  }
}
