.features-item {
  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 52px 20px 1fr;
    grid-template-rows: auto 10px auto;
    max-width: 50%;
    margin-bottom: 12px;

    &:nth-child(odd) {
      margin-right: 30px;
    }
  }

  @media (min-width: @desktop) {
    display: flex;
    flex-direction: column;
    min-width: 318px;

    &:nth-child(odd) {
      margin-right: 0;
    }
  }

  &--speed {
    @media (min-width: @tablet) {
      margin-top: 10px;
    }
  }

  &--comfort,
  &--speed {
    @media (min-width: @desktop) {
      margin-bottom: 30px;
    }
  }

  &--comfort {
    margin-top: 10px;
  }
}

.features-item__title {
  margin-top: 0;
  margin-bottom: 4px;
  text-align: center;

  @media (min-width: @tablet) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 267px;
    text-align: left;
  }

  @media (min-width: @desktop) {
    margin-top: 20px;
    margin-left: 22px;
    text-align: center;
  }
}

.features-item__description {
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;

  @media (min-width: @tablet) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    max-width: 267px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  @media (min-width: @desktop) {
    min-width: 318px;
    margin-top: 8px;
    text-align: center;
  }
}

.features-item__icon {
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;

  @media (min-width: @tablet) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-top: 0;
    margin-bottom: 0;
  }

  &--speed {
    @media (min-width: @desktop) {
      margin-top: 0;
    }
  }
}
