.page-footer__logo {
  &--middle {
    display: block;

    @media (min-width: @tablet) {
      display: none;
    }
  }

  &--full {
    @media (min-width: @tablet) {
      display: block;
    }
  }
}
