.promo {
  position: relative;
}

.promo__pagination {
  display: none;

  @media (min-width: @desktop) {
    position: absolute;
    left: 50%;
    margin-left: -102px;
    bottom: 67px;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 0;
    list-style-type: none;
  }
}

.promo__pagination-page {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 8px;
  margin-left: 0;
  width: 62px;
  height: 4px;
  border-radius: none;
  border: none;
  background-color: @base-white;

  &.is-active {
    background-color: @base-primary;
  }

  &:hover,
  &:focus {
    background-color: @base-primary-opacity;
  }

  &:active {
    background-color: @base-primary;
  }
}

.promo__arrows {
  display: block;
}

.promo__arrow {
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  padding-inline: 0;
  background-color: transparent;
  border: none;

  @media (min-width: @tablet) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: @tablet) {
    height: 100%;
  }

  &:hover,
  &:focus {
    background-image: linear-gradient(90deg, @base-white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background-image: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    &:hover,
    &:focus,
    &:active {
      background: transparent;
    }

    .promo__arrow-icon {
      fill: @base-grey;
    }
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
    transform: rotate(180deg);
  }
}

.promo__arrow-icon {
  fill: @base-primary;
}
