.promo-product {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  padding-left: 20px;
  z-index: -2;

  @media (min-width: @tablet) {
    padding-top: 60px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  @media (min-width: @desktop) {
    display: grid;
    grid-template-columns: 1fr 80px 25px 600px 30px min-content 6px min-content 20px auto 80px 1fr;
    grid-template-rows: 30px 1fr auto 4px auto 16px auto 40px auto 1fr 1fr;
    padding-top: 30px;
    padding-bottom: 86px;
  }

  &--decaf-flat-white {
    background-color: @flat-white;

    @media (min-width: @tablet) {
      background-image: linear-gradient(@flat-white 640px, @base-white 640px);
    }

    @media (min-width: @desktop) {
      background-image: none;
    }
  }

  &--lavender-latte {
    background-color: @lavender-latte;

    @media (min-width: @tablet) {
      background-image: linear-gradient(@lavender-latte 640px, @base-white 640px);
    }

    @media (min-width: @desktop) {
      background-image: none;
    }
  }

  &--espresso {
    background-color: @espresso;

    @media (min-width: @tablet) {
      background-image: linear-gradient(@espresso 640px, @base-white 640px);
    }

    @media (min-width: @desktop) {
      background-image: none;
    }
  }
}

.promo-product__badge {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 4px;

  @media (min-width: @tablet) {
    order: 1;
    margin-top: 0;
    width: 100%;
  }

  @media (min-width: @desktop) {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-bottom: 40px;
    text-align: left;
  }
}

.promo-product__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;

  @media (min-width: @tablet) {
    order: 2;
    margin-bottom: 14px;
  }

  @media (min-width: @desktop) {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 56px;
    margin-bottom: 0;
    text-align: left;
  }
}

.promo-product__description {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: @tablet) {
    order: 3;
    width: 100%;
    margin-bottom: 20px;
    padding-right: 100px;
    padding-left: 100px;
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: @desktop) {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 8;
    max-width: 625px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    text-align: left;
  }
}

.promo-product__button {
  min-width: 113px;
  min-height: 40px;
  margin-left: 20px;

  @media (min-width: @tablet) {
    order: 6;
    font-size: 16px;
  }

  @media (min-width: @desktop) {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 9;
    grid-row-end: 10;
    justify-self: start;
    margin-left: 43px;
  }
}

.promo-product__image {
  display: block;
  object-fit: cover;

  @media (min-width: @tablet) {
    width: 476px;
    height: 476px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: @desktop) {
    width: 600px;
    height: 600px;
  }
}

.promo-product__price {
  @media (min-width: @tablet) {
    order: 5;
  }

  @media (min-width: @desktop) {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 9;
    grid-row-end: 10;
  }

  &--old {
    @media (min-width: @tablet) {
      order: 4;
    }

    @media (min-width: @desktop) {
      grid-column-start: 6;
      grid-column-end: 7;
      grid-row-start: 9;
      grid-row-end: 10;
    }
  }
}

.promo-product picture {
  @media (min-width: @tablet) {
    order: 7;
    width: 100%;
    margin-top: 20px;
  }

  @media (min-width: @desktop) {
    width: 600px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 12;
    margin-top: 0;
  }
}
