.range__input {
  max-width: 125px;
  font-family: @main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: @base-black;

  &[name="min-price"] {
    color: @base-grey;
  }
}
