.user-menu {
  display: flex;
  align-items: center;
  margin-right: 60px;
  margin-left: auto;

  @media (min-width: @tablet) {
    order: 3;
    margin-right: 0;
    margin-left: auto;
  }

  &--nojs {
    margin-right: 0;
  }
}

.user-menu__label {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @media (min-width: @desktop) {
    position: relative;
    display: block;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 8px;
  }
}

.user-menu__icon {
  fill: @base-black;
}

.user-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;

  @media (min-width: @tablet) {
    min-height: 80px;
  }

  @media (min-width: @desktop) {
    margin-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  &:hover,
  &:focus {
    @media (min-width: @desktop) {
      color: @base-primary;
      outline: transparent;

      .user-menu__icon {
        fill: @base-primary;
      }
    }
  }

  &:active {
    background-color: @base-secondary;
  }
}
