@base-primary: #7859CF;
@base-primary-opacity: rgba(120, 89, 207, 0.25);
@base-grey: #BDBDBD;
@base-black: #333333;
@base-white: #FFFFFF;
@base-secondary: #F0EBFF;
@primary-lighter: #9070EC;
@primary-darker: #593CAC;
@light-grey: #E2E2E2;
@flat-white: #F3EBE1;
@lightest-grey: #F8F8F8;
@lavender-latte: #EAE6FC;
@espresso: #E5E6E8;
@main-font: "Montserrat", Arial, sans-serif;
@tablet: 768px;
@desktop: 1440px;
@content: 1360px;
